<div class="p-5 w-10 left-0">
    <img src="assets/images/br-round.png" (click)="setLanguage('pt-BR'); " class="w-1 p-5" alt="Bandeira Brasil" />
    <img src="assets/images/us-round.png" (click)="setLanguage('en'); " class="w-1 p-5" alt="Bandeira Estados Unidos" />
    <img src="assets/images/es-round.png" (click)="setLanguage('es'); " class="w-1 p-5" alt="Bandeira Espanha" />
</div>

<p-tabView>
    <p-tabPanel class="text-color-blue-700 text-5x1" header="JOGAR">
        <p>
            <router-outlet></router-outlet>
        </p>
    </p-tabPanel>
    <p-tabPanel header="REGRAS JOGO DA VELHA">
        <div class="content">
            <h1>Jogo da Velha</h1>
            <h2>Objetivo</h2>
            <p>O primeiro jogador que conseguir alinhar 3 peças consecutivas (na horizontal, vertical ou diagonal)
                vence a partida.</p>

            <h2>Tabuleiro</h2>
            <p>O tabuleiro é uma grade vertical de 3 colunas por 3 linhas.</p>

            <h2>Peças</h2>
            <p>Cada jogador possui uma peça de cor e figura distinta.</p>

            <h2>Regras</h2>
            <ul>
                <li>Os jogadores se alternam com um movimento de cada jogador, preenchendo o espaço vazio com a peça de
                    sua cor em qualquer espaço do tabuleiro.</li>
                <li>O jogo continua até que um dos jogadores consiga alinhar 3 peças consecutivas, ou até que o
                    tabuleiro fique completamente cheio, resultando em um empate.</li>
            </ul>

            <h2>Fim de Jogo</h2>
            <p>O jogo acaba após um dos jogadores conseguir alinhar as 3 peças, dessa forma é declarado o vencedor por
                meio da cor escolhida pelo jogador. No fim, o jogador deve clicar no botão para encerrar a partida e
                iniciar um novo jogo.</p>
            <p>Em caso de empate, os jogadores terão a escolha de reiniciar a partida ou sair do jogo.</p>
        </div>
    </p-tabPanel>
    <p-tabPanel header="REGRAS LIGUE 4">
        <div class="content">
            <h1>Ligue 4</h1>
            <h2>Objetivo</h2>
            <p>O primeiro jogador que conseguir alinhar quatro peças consecutivas (na horizontal, vertical ou diagonal)
                vence a partida.</p>

            <h2>Tabuleiro</h2>
            <p>O tabuleiro é uma grade vertical de 7 colunas por 6 linhas. Ele é posicionado de modo que as peças sejam
                inseridas pelo topo das colunas e caiam para a linha mais baixa disponível nesta coluna.</p>

            <h2>Peças</h2>
            <p>Cada jogador possui um conjunto de peças de cor distinta (geralmente vermelho e amarelo).</p>

            <h2>Regras</h2>
            <ul>
                <li>Os jogadores se alternam com um movimento de cada jogador, inserindo uma peça de sua cor em qualquer
                    uma das colunas do tabuleiro.</li>
                <li>A peça cai na posição mais baixa disponível da coluna e cada peça seguinte vai preenchendo os
                    espaços vazios ou ficando sobre a peça abaixo.</li>
                <li>O jogo continua até que um dos jogadores consiga alinhar quatro peças consecutivas, ou até que o
                    tabuleiro fique completamente cheio, resultando em um empate.</li>
            </ul>

            <h2>Fim de Jogo</h2>
            <p>O jogo acaba após um dos jogadores conseguir alinhar as 4 peças, dessa forma é declarado o vencedor por
                meio da cor escolhida pelo jogador. No fim, o jogador deve clicar no botão para encerrar a partida e
                iniciar um novo jogo.</p>
            <p>Em caso de empate, os jogadores terão a escolha de reiniciar a partida ou sair do jogo.</p>
        </div>
    </p-tabPanel>

    <p-tabPanel header="REQUISITOS">
        <div class="content">
            <h2>Especificação de Requisitos Ligue 4</h2>

            <h3>REQUISITOS FUNCIONAIS</h3>

            <div class="requirement">
                <h4>RF-001: Apresentação do Tabuleiro de Jogo</h4>
                <p><strong>Descrição:</strong> O sistema deve apresentar aos jogadores o tabuleiro, que deve ter 7
                    colunas com 6 linhas.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-002: Quantidade de Jogadores</h4>
                <p><strong>Descrição:</strong> Cada partida deverá ter exatamente 2 jogadores.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-001] Apresentação do tabuleiro de jogo.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-003: Diferenciação entre os Jogadores</h4>
                <p><strong>Descrição:</strong> Cada jogador terá uma cor específica para suas peças dentro do jogo.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-001] Apresentação do tabuleiro de jogo. [RF-002] Quantidade de
                        jogadores.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-004: Controle de Peças</h4>
                <p><strong>Descrição:</strong> Cada jogador joga com 21 peças e só terá o controle das peças
                    pertencentes à cor que escolher.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-005] Posicionamento das peças. [NF-001] Interface do Usuário.
                        [NF-003] Tempo de Resposta. [NF-004] Acessibilidade.
                    </li>

                </ul>
            </div>

            <div class="requirement">
                <h4>RF-005: Posicionamento das Peças</h4>
                <p><strong>Descrição:</strong> A vitória da partida visa a que 4 peças sejam ligadas, podendo ser nas
                    posições horizontal, vertical ou diagonais.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo. [NF-002] Feedback Visual.
                        [NF-003] Tempo de Resposta.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-006: Identificador de Vitória</h4>
                <p><strong>Descrição:</strong> Após o jogador conseguir o ligamento das 4 peças, o sistema identifica e
                    nomeia o vencedor pela cor das peças.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong></p>
                <ul>
                    <li> [RF-003] Diferenciação entre os jogadores. [NF-002] Feedback Visual.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-007: Fim de Jogo</h4>
                <p><strong>Descrição:</strong> Ao nomear o vencedor, o sistema deve interromper o jogo e solicitar aos
                    jogadores uma caixa de confirmação para reinício de outra partida.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-008: Início e Reinício de Jogo</h4>
                <p><strong>Descrição:</strong> O sistema deverá sortear o jogador que iniciará ou reiniciará o jogo.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-009: 5 escolhas de cores/figuras</h4>
                <p><strong>Descrição:</strong> O sistema deverá oferecer uma seleção de 5 cores/figuras para o jogador
                    escolher em suas peças.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-010: Opção de 3 idiomas</h4>
                <p><strong>Descrição:</strong> O sistema deverá dar ao jogador a opção de selecionar em até 3 idiomas.
                </p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-011: Interação Jogador X Computador</h4>
                <p><strong>Descrição:</strong> O sistema deverá ter a opção de o jogador também poder jogar contra a
                    máquina.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.</li>
                </ul>
            </div>

            <h3>REQUISITOS NÃO-FUNCIONAIS</h3>

            <div class="requirement">
                <h4>NF-001: Interface do Usuário</h4>
                <p><strong>Descrição:</strong> A interface deve ser intuitiva e fácil de usar, com instruções claras
                    para novos jogadores sobre as regras e o funcionamento do jogo.</p>
                <p><strong>Prioridade:</strong> Importante.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-001] Apresentação do tabuleiro de jogo. [NF-002] Feedback visual
                        deve incluir animações e efeitos gráficos, como visualização da vitória.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-002: Feedback Visual</h4>
                <p><strong>Descrição:</strong> O sistema deve fornecer feedback acessível e eficaz para as ações e
                    notificações sobre as jogadas, o estado do jogo, vitórias ou empates.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong>
                <ul>
                    <li>[RF-006] Identificador de vitória.
                        [RF-007] Fim de jogo.
                        [RF-008] Reinício do jogo.
                        [NF-009] Empate.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-003: Tempo de Resposta</h4>
                <p><strong>Descrição:</strong> O sistema deve garantir que as ações dos jogadores sejam processadas e
                    refletidas na tela em menos de 2 segundos.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo: o tempo de resposta está
                        diretamente relacionado à rapidez com que o tabuleiro é exibido para o jogador.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-004: Acessibilidade</h4>
                <p><strong>Descrição:</strong> O sistema deve permitir a interação com uso do mouse.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-005: Identificação e Anúncio de Vitória</h4>
                <p><strong>Descrição:</strong> O sistema deve anunciar a vitória de forma visual, fornecendo informações
                    claras sobre o vencedor.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-006] Indicador de vitória.</li>
                </ul>
            </div>

            <h2>Especificação de Requisitos Jogo da Velha</h2>

            <h3>REQUISITOS FUNCIONAIS</h3>

            <div class="requirement">
                <h4>RF-001: Apresentação do Tabuleiro de Jogo</h4>
                <p><strong>Descrição:</strong> O sistema deve apresentar aos jogadores o tabuleiro, que deve ter 3
                    colunas com 3 linhas.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-002: Quantidade de Jogadores</h4>
                <p><strong>Descrição:</strong> Cada partida deverá ter exatamente 2 jogadores.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-003: Diferenciação entre os Jogadores</h4>
                <p><strong>Descrição:</strong> Cada jogador terá uma cor específica para suas peças dentro do jogo.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-001] Apresentação do tabuleiro de jogo. [RF-002] Quantidade de
                        jogadores.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-004: Controle de Peças</h4>
                <p><strong>Descrição:</strong> Cada jogador joga com 21 peças e só terá o controle das peças
                    pertencentes à cor que escolher.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-005] Posicionamento das peças. [NF-001] Interface do Usuário.
                        [NF-003] Tempo de Resposta. [NF-004] Acessibilidade.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-005: Posicionamento das Peças</h4>
                <p><strong>Descrição:</strong> A vitória da partida visa a que 3 peças sejam ligadas, podendo ser nas
                    posições horizontal, vertical ou diagonais.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo. [NF-002] Feedback Visual.
                        [NF-003] Tempo de Resposta.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-006: Identificador de Vitória</h4>
                <p><strong>Descrição:</strong> Após o jogador conseguir o ligamento das 4 peças, o sistema identifica e
                    nomeia o vencedor pela cor das peças.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong></p>
                <ul>
                    <li> [RF-003] Diferenciação entre os jogadores. [NF-002] Feedback Visual.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-007: Fim de Jogo</h4>
                <p><strong>Descrição:</strong> Ao nomear o vencedor, o sistema deve interromper o jogo e solicitar aos
                    jogadores uma caixa de confirmação para reinício de outra partida.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-008: Início e Reinício de Jogo</h4>
                <p><strong>Descrição:</strong> O sistema deverá sortear o jogador que iniciará ou reiniciará o jogo.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-009: 5 escolhas de cores/figuras</h4>
                <p><strong>Descrição:</strong> O sistema deverá oferecer uma seleção de 5 cores/figuras para o jogador
                    escolher em suas peças.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-010: Opção de 3 idiomas</h4>
                <p><strong>Descrição:</strong> O sistema deverá dar ao jogador a opção de selecionar em até 3 idiomas.
                </p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>RF-011: Interação Jogador X Computador</h4>
                <p><strong>Descrição:</strong> O sistema deverá ter a opção de o jogador também poder jogar contra a
                    máquina.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-002] Quantidade de jogadores. [NF-001] A interface deve ser
                        intuitiva e fácil de usar.
                    </li>
                </ul>
            </div>

            <h3>REQUISITOS NÃO-FUNCIONAIS</h3>

            <div class="requirement">
                <h4>NF-001: Interface do Usuário</h4>
                <p><strong>Descrição:</strong> A interface deve ser intuitiva e fácil de usar, com instruções claras
                    para novos jogadores sobre as regras e o funcionamento do jogo.</p>
                <p><strong>Prioridade:</strong> Importante.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo. [NF-002] Feedback visual
                        deve incluir animações e efeitos gráficos, como visualização da vitória.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-002: Feedback Visual</h4>
                <p><strong>Descrição:</strong> O sistema deve fornecer feedback acessível e eficaz para as ações e
                    notificações sobre as jogadas, o estado do jogo, vitórias ou empates.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-006] Identificador de vitória. [RF-007] Fim de jogo. [RF-008]
                        Reinício do jogo. [NF-009] Empate.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-003: Tempo de Resposta</h4>
                <p><strong>Descrição:</strong> O sistema deve garantir que as ações dos jogadores sejam processadas e
                    refletidas na tela em menos de 2 segundos.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>
                        [RF-001] Apresentação do tabuleiro de jogo: o tempo de resposta está
                        diretamente relacionado à rapidez com que o tabuleiro é exibido para o jogador.
                    </li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-004: Acessibilidade</h4>
                <p><strong>Descrição:</strong> O sistema deve permitir a interação com uso do mouse.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-001] Apresentação do tabuleiro de jogo.</li>
                </ul>
            </div>

            <div class="requirement">
                <h4>NF-005: Identificação e Anúncio de Vitória</h4>
                <p><strong>Descrição:</strong> O sistema deve anunciar a vitória de forma visual, fornecendo informações
                    claras sobre o vencedor.</p>
                <p><strong>Prioridade:</strong> Essencial.</p>
                <p><strong>Associação:</strong> </p>
                <ul>
                    <li>[RF-006] Indicador de vitória.</li>
                </ul>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="TERMO DE ABERTURA">
        <div class="content">
            <h2>Projeto: Desenvolvimento do HEIL Games 4 para Web</h2>
            <p><strong>Patrocinador:</strong> PROF. ME. ELENILTON DEZENGRINI</p>
            <p><strong>Gerente do Projeto:</strong> Equipe autogerenciável</p>
            <p><strong>Data:</strong> 31/08/2024</p>
            <h3>Visão Geral do Projeto</h3>
            <p>O projeto de desenvolvimento do jogo Ligue 4 para web visa criar uma versão online do clássico jogo de
                tabuleiro, permitindo que jogadores disputem partidas entre si em um ambiente digital.</p>

            <h3>Objetivos do Projeto</h3>
            <ul>
                <li>Desenvolver uma versão online do jogo Ligue 4 para rodar em navegadores web.</li>
                <li>Permitir que jogadores humanos possam competir entre si em tempo real.</li>
                <li>Garantir uma interface intuitiva e responsiva para uma experiência de jogo agradável.</li>
            </ul>

            <h3>Escopo do Projeto</h3>
            <p>O escopo do projeto inclui:</p>
            <ul>
                <li>Desenvolvimento do front-end e back-end necessários para o funcionamento do jogo.</li>
                <li>Implementação de um sistema de gerenciamento de partidas entre jogadores.</li>
                <li>Testes e validação do sistema para garantir a estabilidade e usabilidade do jogo.</li>
            </ul>

            <h3>Orçamento Estimado</h3>
            <p>O orçamento total estimado para o projeto é de R$ 100.000,00.</p>

            <h3>Cronograma Estimado</h3>
            <p>O projeto terá uma duração estimada de 8 horas, com as seguintes fases principais:</p>
            <ul>
                <li>Fase de Planejamento: 1h</li>
                <li>Fase de Desenvolvimento: 3h</li>
                <li>Fase de Testes: 1h</li>
                <li>Fase de Implantação: 1h</li>
                <li>Fase de Apresentação Final: 5 min</li>
            </ul>

            <h3>Aprovação do Termo de Abertura</h3>
            <p>Com a assinatura abaixo, o Patrocinador aprova formalmente o início do projeto conforme descrito neste
                documento.</p>
            <p><strong>Patrocinador:</strong> _______________________________</p>
            <p><strong>Data:</strong> 31/08/2024</p>
        </div>
    </p-tabPanel>

    <p-tabPanel header="DOCUMENTAÇÃO">
        <div class="content">
            <h2>Documentação do Projeto</h2>
            <iframe src="/assets/documentation/index.html" style="width: 100%; height: 80vh; border: none;">
            </iframe>
        </div>
    </p-tabPanel>

</p-tabView>